# My vscode config
.vscode/

# Virtual env
.venv*

# Distribution / packaging
*__pycache__
bundle_notifications.egg-info
dist/
.eggs/
build/

# Test reports
htmlcov/
.coverage
.tox/
.pytest*

# Sphinx documentation
docs/_build/

# For now, do not keep the notebooks nor the data
notebooks/.ipynb_checkpoints
data/*
